lab1-lab2.json
[
    {
        "id": "9c559ab0993c9a3e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e356d13bcb134b41",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "1959f64cc95a6f27",
                "4b2b2661261948aa"
            ]
        ]
    },
    {
        "id": "424d58272c4f3991",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "ae1ed15af6ba8837",
                "3095ba0c1d98f68a",
                "e8bae3cb5a77a9d9",
                "2d85238f234872c2",
                "7dea213c31238e95",
                "2fe35f2f292390df"
            ]
        ]
    },
    {
        "id": "1959f64cc95a6f27",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Brasilia,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "424d58272c4f3991"
            ]
        ]
    },
    {
        "id": "e8bae3cb5a77a9d9",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.visibility",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "4d8abc769c5769d9"
            ]
        ]
    },
    {
        "id": "3095ba0c1d98f68a",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 780,
        "wires": [
            [
                "d479037cd0b2e56d"
            ]
        ]
    },
    {
        "id": "ae1ed15af6ba8837",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 820,
        "wires": [
            [
                "7f3aeb556769d371"
            ]
        ]
    },
    {
        "id": "2d85238f234872c2",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 860,
        "wires": [
            [
                "c954b92dfec1b18a"
            ]
        ]
    },
    {
        "id": "7dea213c31238e95",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 900,
        "wires": [
            [
                "e3a6396d020f887f"
            ]
        ]
    },
    {
        "id": "4b2b2661261948aa",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Campinas,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "dac39addc0b8c22a"
            ]
        ]
    },
    {
        "id": "dac39addc0b8c22a",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "6c6589decc7e2e09",
                "08069243e3deaf4c",
                "25471fe80c53a92c",
                "87c44a29a69f2e58",
                "51392346b057198d",
                "64e8d382007476a2"
            ]
        ]
    },
    {
        "id": "6c6589decc7e2e09",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.visibility",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "9c8c502d92a98803"
            ]
        ]
    },
    {
        "id": "08069243e3deaf4c",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 420,
        "wires": [
            [
                "ab0aa9ed09d5318d"
            ]
        ]
    },
    {
        "id": "25471fe80c53a92c",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 500,
        "wires": [
            [
                "2778d932775b7d71"
            ]
        ]
    },
    {
        "id": "87c44a29a69f2e58",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 540,
        "wires": [
            [
                "d3ef08b3b219f296"
            ]
        ]
    },
    {
        "id": "4d8abc769c5769d9",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Visibilidade (em metros)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "d479037cd0b2e56d",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 780,
        "wires": []
    },
    {
        "id": "9c8c502d92a98803",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Visibilidade (em metros)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "ab0aa9ed09d5318d",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "d3ef08b3b219f296",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "e3a6396d020f887f",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 900,
        "wires": []
    },
    {
        "id": "c954b92dfec1b18a",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensação Termica",
        "chartType": "line",
        "legend": "false",
        "xformat": "",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "2778d932775b7d71",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensação Térmica",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0c8ece41a2188b42",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "9c09560b90a1d4e4"
            ]
        ]
    },
    {
        "id": "9c09560b90a1d4e4",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Sombrio,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "795ba8c3dd168036"
            ]
        ]
    },
    {
        "id": "795ba8c3dd168036",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "93e5ce5ceae29325",
                "7a95fe980f0d9e43"
            ]
        ]
    },
    {
        "id": "7a95fe980f0d9e43",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 20,
        "wires": [
            [
                "20743b11f57e7dc7"
            ]
        ]
    },
    {
        "id": "93e5ce5ceae29325",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 3",
        "func": "msg.payload = {\n    temperatura: msg.payload.main.temp,\n    temperatura_min: msg.payload.main.temp_min,\n    temperatura_max: msg.payload.main.temp_max,\n    velocidade_vento: msg.payload.wind.speed\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "b0194f441b3f0ad6"
            ]
        ]
    },
    {
        "id": "20743b11f57e7dc7",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0194f441b3f0ad6",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "f1076ac060c84327",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"teste\": \"send and consumer test\"}",
        "payloadType": "json",
        "x": 290,
        "y": 1060,
        "wires": [
            [
                "11b1f7bf5d9f49a7"
            ]
        ]
    },
    {
        "id": "98662d161017e499",
        "type": "mqtt in",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "topic": "henrique4sir/teste",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f6c091f08d0f863",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "b5d54fa4712ac056"
            ]
        ]
    },
    {
        "id": "11b1f7bf5d9f49a7",
        "type": "mqtt out",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "topic": "henrique4sir/teste",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f6c091f08d0f863",
        "x": 570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b5d54fa4712ac056",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0222499536f8b34c",
        "type": "comment",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "info": "Fiz de vários jeitos mas nao entendi a diferenca entre o QoS0,1,2\n\nnao pode colocar caracteres especiais (#, =) no nome do topic",
        "x": 300,
        "y": 1000,
        "wires": []
    },
    {
        "id": "61ae360741f56434",
        "type": "ui_text",
        "z": "9c559ab0993c9a3e",
        "group": "cd38f18e7233c3b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condições do céu:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "51392346b057198d",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "61ae360741f56434"
            ]
        ]
    },
    {
        "id": "7f3aeb556769d371",
        "type": "ui_text",
        "z": "9c559ab0993c9a3e",
        "group": "0d4503469eaa3c1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condições do céu:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 820,
        "wires": []
    },
    {
        "id": "64e8d382007476a2",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 4",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Aeroporto Internacional Campinas\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "dbb7cd6cddfc101b"
            ]
        ]
    },
    {
        "id": "2fe35f2f292390df",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 5",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Aeroporto Internacional Brasilia\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 680,
        "wires": [
            [
                "dbb7cd6cddfc101b"
            ]
        ]
    },
    {
        "id": "dbb7cd6cddfc101b",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "14ae8a314a72c94b",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "Day/mm HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "bc3c6cb58d4418a1",
        "type": "ui_spacer",
        "z": "9c559ab0993c9a3e",
        "name": "spacer",
        "group": "edc392ad9faceae5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "0d4503469eaa3c1f",
        "type": "ui_group",
        "name": "Aeroporto Internacional Brasilia",
        "tab": "d67b758e644f9dbe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd38f18e7233c3b1",
        "type": "ui_group",
        "name": "Aeroporto Internacional Campinas",
        "tab": "d67b758e644f9dbe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f6c091f08d0f863",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "14ae8a314a72c94b",
        "type": "ui_group",
        "name": "Temperatura Atual",
        "tab": "d67b758e644f9dbe",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d67b758e644f9dbe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]